@use '@angular/material' as mat;
@use "variables";

@include mat.core();

$localPrimary:  mat.m2-define-palette(mat.$m2-indigo-palette);
$localAccent:  mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $localPrimary,
    accent: $localAccent,
  )
));

@include mat.all-component-themes($theme)
