@use "sass:color";
@use "../../../styles/variables" as *;

/*
::host section {
  display: block;
  width: 100%;
  padding: 15px;
  height: calc(100vh - $navbar-height);
  .container {
    width: 100%;
    height: 100%;
  }
}
*/

.model-wrapper {
  position: relative;
  min-height: calc(100vh - $navbar-height);
}

.diagram-content.hidden {
  pointer-events: none;
  opacity: 0.3;
}

.error-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background: rgba($navbar-color, 0.9);
  z-index: 1100;
}

.error-state {
  max-width: 40rem;
  padding: 2rem;
  border-radius: $rounded;
  border: 1px solid color.scale($warning, $lightness: 10%);
  background: rgba($warning, 0.08);
  color: color.scale($text-color, $lightness: -10%);

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: color.scale($warning, $lightness: -10%);
  }

  p {
    margin: 0;
  }
}

.legend {
  overflow: auto;
  position: absolute;
  top: -1px;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  box-shadow: 0 10px 11px -9px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, rgba($navbar-color, 1) 0, rgba($navbar-color, 0.5) 30px);
  border-top: 0;
  z-index: 1050;
  transition: background 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    background: linear-gradient(to bottom, rgba($navbar-color, 1) 0, rgba($navbar-color, 1) 100%);
  }
  &.open {
    box-shadow: 0 10px 17px -6px rgba(0, 0, 0, 0.3);
  }
  header {
    display: block;
    padding-right: 0.5rem;
    text-align: center;
    cursor: pointer;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    > i {
      transition: transform 0.2s ease-in-out;
      transform: rotate(0);
      display: inline-block;
      &.open {
        transform: rotate(-90deg);
      }
    }
  }
  .pin {
    text-align: right;
    display: block;
    fa {
      display: inline-block;
      transition: transform 0.2s ease-in-out;
      transform: rotate(-90deg);
    }
    &.stick {
      fa {
        transform: rotate(0);
      }
    }
  }
  > div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    &.visible {
      max-height: max-content;
    }
  }
  ul {
    display: block;
    border: 1px solid color.scale($border-color, $lightness: -10%);
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35) inset;
    background: rgba(white, 0.6);
    li {
      text-align: left;
      text-indent: 0.5rem;
      ul {
        border: 0;
        box-shadow: none;
        background: transparent;
        padding: 0;
        margin-left: 10px;
        margin-top: 0;
        margin-right: 0;
      }
    }
  }
  .colors .box {
    &:hover, &.spotlight {
      border: 1px solid black;
      box-shadow: 0 0 4px black;
    }
    label {
      display: block;
    }
    input {
      float: left;
    }
  }
  .box {
    min-width: 30px;
    height: 25px;
    margin: 2px;
    padding: 0.25rem 0.7rem;
    border: 1px solid $border-color;
    border-radius: 4px;

    // Box types
    &.class {
      background-color: $class-color;
    }
    &.abstract {
      background-color: white;
    }
    &.datatype {
      background-color: $datatype-color;
    }
    &.referanse, &.enumeration { // Enumeration is deprecated
      background-color: $enumeration-color;
      font-style: italic;
    }
    &.codelist { // Codelist is deprecated
      background-color: $codelist-color;
    }
    &.deprecated {
      background-color: $deprecated-color;
    }
    &.mainclass, &.hovedklasse {
      background-color: $table-color;
      font-weight: 400;
      border-color: color.scale($border-color, $lightness: -30%);
      box-shadow: 0 1px 3px black;
    }
    &.unstyled {
      border: 1px solid transparent;
      padding: 0.25rem 0;
      &:hover {
        border: 1px solid transparent !important;
        box-shadow: none !important;
      }
    }

    // Line types
    &.generalization, &.association {
      border: 0;
      background: transparent;
      border-bottom-width: 2px;
      border-radius: 0;
    }
    &.generalization {
      border-bottom-style: dashed;
    }
    &.association {
      border-bottom-style: solid;
    }
    &.target {
      border-color: red;
    }
    &.source {
      border-color: green;
    }
  }
}
