@use "sass:color";
@use "../../../styles/variables" as *;

app-sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 16rem;
  + section {
    margin-left: 18rem;
    margin-right: 1rem;
  }
}

.error-state {
  margin: 6rem auto;
  max-width: 40rem;
  padding: 2rem;
  border-radius: $rounded;
  border: 1px solid color.scale($warning, $lightness: 10%);
  background: rgba($warning, 0.08);
  color: color.scale($text-color, $lightness: -10%);

  h2 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: color.scale($warning, $lightness: -10%);
  }

  p {
    margin: 0;
  }
}
