name: CD

on: push

jobs:

  build-and-publish:
    runs-on: ubuntu-latest
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
    env:
      DOCKER_BUILDKIT: 1

    steps:
      - uses: actions/checkout@v5

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=ref,event=branch,suffix=-{{sha}}
            type=ref,event=pr,suffix=-{{sha}}
            type=sha,prefix={{date 'YYYY-MM-DD-'}},enable={{is_default_branch}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with: 
          push: ${{ github.actor != 'dependabot[bot]' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  
  beta:
    needs: build-and-publish
    uses: ./.github/workflows/reusable-deploy.yaml
    with:
      tags: ${{ needs.build-and-publish.outputs.tags }}
      environment: beta
      deploy-every-branch: true
    secrets: inherit

  prod:
    needs: [ build-and-publish, beta ]
    uses: ./.github/workflows/reusable-deploy.yaml
    with:
      tags: ${{ needs.build-and-publish.outputs.tags }}
      environment: api
    secrets: inherit

