name: CI

on:
  push:
    branches-ignore:
      - master

permissions:
  packages: read
  contents: read

jobs:

  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup node.js
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: 'yarn'

      - name: Build
        run: |
          yarn install --frozen-lockfile
          yarn build
