name: Reusable Deploy Workflow
on:
  workflow_call:
    inputs:
      tags: 
        required: true
        type: string
      environment:
        required: true
        type: string
      cluster:
        required: true
        type: string
      deploy-every-branch:
        required: false
        type: boolean
        default: false

jobs:
  deploy-to-aks:
    if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
    name: deploy-${{ inputs.cluster }}
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Get environment
        id: environment
        run: |
          echo "name=$(cut -d\- -f2 <<< ${{ inputs.cluster }})" >> $GITHUB_OUTPUT

      - name: Bake manifests with Kustomize
        id: bake
        uses: azure/k8s-bake@v3
        with:
          renderEngine: 'kustomize'
          kustomizationPath: 'kustomize/overlays/${{ steps.environment.outputs.name }}'

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: "${{ secrets[format('AKS_{0}_FINT_GITHUB', steps.environment.outputs.name)] }}"

      - name: Set the target cluster
        uses: azure/aks-set-context@v4
        with:
          cluster-name: ${{ inputs.cluster }}
          resource-group: rg-aks-${{ steps.environment.outputs.name }}
          admin: true

      - if: github.ref != format('refs/heads/{0}', github.event.repository.default_branch) && inputs.deploy-every-branch != true
        run: |
          {
            echo "## Dry run - not a real deploy"
            echo "To deploy, merge to ${{ github.event.repository.default_branch }}."
          } >> $GITHUB_STEP_SUMMARY

      - name: Get namespace from config file
        id: namespace
        run: |
          namespace=$(yq '.metadata.namespace' ${{ steps.bake.outputs.manifestsBundle }} | head -n 1 | sed 's/^null$/default/')
          echo "name=$namespace" >> $GITHUB_OUTPUT

      - name: Deploy to Kubernetes
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) || inputs.deploy-every-branch == true
        uses: azure/k8s-deploy@v5
        with:
          action: deploy
          manifests: ${{ steps.bake.outputs.manifestsBundle }}
          images: ${{ inputs.use-image-from-overlay && 'none:none' || needs.build-and-publish.outputs.tags }}
          namespace: ${{ steps.namespace.outputs.name }}
