name: Reusable Deploy Workflow
on:
  workflow_call:
    inputs:
      tags: 
        required: true
        type: string
      environment:
        required: true
        type: string
      deploy-every-branch:
        required: false
        type: boolean
        default: false

jobs:
  deploy-to-aks:
    name: deploy
    environment: ${{ inputs.environment }}
    if: >-
      github.actor != 'dependabot[bot]' &&
      (
        github.ref == format('refs/heads/{0}', github.event.repository.default_branch) ||
        inputs.deploy-every-branch == true
      )
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Bake manifests with Kustomize
        id: bake
        uses: azure/k8s-bake@v3
        with:
          renderEngine: 'kustomize'
          kustomizationPath: 'kustomize/overlays/${{ inputs.environment }}'

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: "${{ secrets[format('AKS_{0}_FINT_GITHUB', inputs.environment)] }}"

      - name: Set the target cluster
        uses: azure/aks-set-context@v4
        with:
          cluster-name: ${{ vars.cluster }}
          resource-group: rg-aks-${{ inputs.environment }}
          admin: true

      - name: Get namespace from config file
        id: namespace
        run: |
          namespace=$(yq '.metadata.namespace' ${{ steps.bake.outputs.manifestsBundle }} | head -n 1 | sed 's/^null$/default/')
          echo "name=$namespace" >> $GITHUB_OUTPUT

      - name: Deploy to Kubernetes
        uses: azure/k8s-deploy@v5
        with:
          action: deploy
          manifests: ${{ steps.bake.outputs.manifestsBundle }}
          images: ${{ inputs.tags }}
          namespace: ${{ steps.namespace.outputs.name }}
